* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #242635;
}

.blue-text {
    color:#34b0be;
}

.white-text {
    color: white;
}

.center-text {
    text-align: center;
}

.bolder-text {
    font-weight: bolder;
}

.icon-container {
    background-color: #b0c0c2;
    display: inline-block;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #242635;
}

.vertical-spacing {
    margin-top: 1rem;
}

.main-container {
    width: 90%;
    margin: auto;
    max-width: 1080px;
}

.main-container .subtitle {
    font-size: 2.5rem;
}

.main-title .large-text {
    font-size: 5rem;
}

.main-title .middle-text {
    font-size: 4rem;
}

.large-text .line {
    display: block;
    height: 2px;
    width: 50%;
    background-color: white;
}

.circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vh;
    height: 80vh;
    background-color: rgb(209 206 202 / 25%);
    border-radius: 50%;
    left: calc(50% - 40vh);
}

.circle img {
    width: 55vh;
    height: 75vh;
}

.brand-container {
    height: 95vh;
    width: 130vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    left: calc(50% - 65vh);
}

.brand-container div {
    border-radius: 10px;
    background-color: rgb(209 206 202 / 25%);
    height: 20vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.brand {
    background-color: #b0c0c2;
    /* display: inline-block; */
    border-radius: 3px;
    height: 7rem;
    width: 10rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #242635;

    padding-left: 2em;
    padding-right: 2em;
}

.container-paragraph {
    width: 60%;
    max-width: 1080px;
    margin: auto;
}

.card {
    background-color: whitesmoke;
    height: 20em;
    width: 15em;
    position: relative;
    display: flex;
    flex-direction: column;
}